body {
font-family: "Open Sans", sans-serif;
background: url(img/tavern-map-huge.png) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-blend-mode: darken;
}

h1, h2, h3, h4 {
    font-family: "Trade Winds", cursive;
}

h2, h3, h4 {
    color: #c59d30;
}

header h4 {
    color: #ffffff;
}
h5 {
    font-family: "Open Sans", sans-serif;
}



.site-footer {
    background-color:  #222222;
    color: #ffbb00;
    padding: 20px;
    border: none;
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
}

.jumbotron {
    margin: 0;
    padding-top: 10%;
    padding-bottom: 10%;
    background: url(img/dnd-tavern-big.jpg) no-repeat center center;
    background-size: cover;
    border-style: solid;
    border-color: #222222;
    height: 100%;    
    color: #ffbb00;
}

.row-content {
    padding: 50px 0;
    border-bottom: none;
    min-height: 200px;
}

.navbar {
    background-color: #222222;
    color: #c59d30;
}



.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #ffffff49;
    max-height: 700px;
    overflow: hidden;
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

#loginModal .modal-header {
    background-color: black;
    color:#ffbb00;
}

.accordion {
    padding-bottom: 50;
}

.accordion-height {
    height: 40vh;
    padding-top: 10%;
    padding-bottom: 100px;
}
.card-header {
    font-family: "Trade Winds", cursive;
    background-color: #222222;
}
.accordion-btn {
    background-color: #222222;
    color: #c59d30;
}

.card-body {
    background-color: #222222;
    color: whitesmoke;
}

.card {
    border: solid #ffffff49;
}

.responsiveCal {
    position: relative;
    padding-bottom: 75%;
    padding-top: 25%;
    height: 0;
    overflow: hidden;
}

.responsiveCal iframe {
    position: absolute;
    top: 0;
    left 0;
    width: 100%;
    height: 70%;
}

